<!DOCTYPE html>
<html lang="zxx" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/css-component :: meta"></th:block>
    <th:block th:replace="fragments/css-component :: google-font"></th:block>   
    <th:block th:replace="fragments/css-component :: css"></th:block>
    
    <link rel="stylesheet" th:href="@{/css/account.css}" type="text/css">
    
</head>

<body>
    

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                <div class="tip">2</div>
            </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                <div class="tip">2</div>
            </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header th:replace="fragments/header :: header"></header>
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <div class="container">
    <div class="main-body">
    
          <!-- Breadcrumb -->
          <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Edit Account</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img th:src="@{${'img/user/' + avatarURL}}" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4 th:text="${user.userName}"></h4>
                      <br>
                      <button class="btn btn-primary">Thay ảnh đại diện</button>
                      
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  
                  <form th:object="${user}" th:method="post" th:action="@{/edit}">
	                  <div class="form-group">
	                  		<label>Email</label>
	                  		<input th:field="*{email}" class="form-control" readonly>
	                  	</div>
	                  	<div class="form-group">
	                  		<label>Tên</label>
	                  		<input th:field="*{userName}" class="form-control" 
	                  		oninvalid="this.setCustomValidity('Xin vui lòng không bỏ trống phần này')"
  							oninput="this.setCustomValidity('')" required>
	                  	</div>
	                  	<div class="form-group">
	                  		<label>SDT</label>
	                  		<input th:field="*{phone}" class="form-control" oninvalid="this.setCustomValidity('Xin vui lòng không bỏ trống phần này')"
  							oninput="this.setCustomValidity('')" required>
	                  	</div>
	                  	<div class="form-group">
	                  		<label>Tỉnh/Thành phố</label>
	                  		<input th:field="*{province}" class="form-control" oninvalid="this.setCustomValidity('Xin vui lòng không bỏ trống phần này')"
  							oninput="this.setCustomValidity('')" required>
	                  	</div>
	                  	<div class="form-group">
	                  		<label>Quận/Huyện</label>
	                  		<input th:field="*{district}" class="form-control" oninvalid="this.setCustomValidity('Xin vui lòng không bỏ trống phần này')"
  							oninput="this.setCustomValidity('')" required>
	                  	</div>
	                  	<div class="form-group">
	                  		<label>Xã/Phường</label>
	                  		<input th:field="*{commune}" class="form-control" oninvalid="this.setCustomValidity('Xin vui lòng không bỏ trống phần này')"
  							oninput="this.setCustomValidity('')" required>
	                  	</div>
	                  	<div class="form-group">
	                  		<label>Địa chỉ cụ thể</label>
	                  		<input th:field="*{addressDetail}" class="form-control" oninvalid="this.setCustomValidity('Xin vui lòng không bỏ trống phần này')"
  							oninput="this.setCustomValidity('')" required>
  							
	                  	</div>
	                  	<div class="form-group">
	                  		<button type="submit" class="btn btn-primary">Lưu</button>
	                  	</div>
	                  	
                  	
                  	
                  	
                  </form>
                  
                </div>
              </div>

              <div class="row gutters-sm">
                
                
              </div>



            </div>
          </div>
          

        </div>
    </div>
    <!-- Breadcrumb End -->

    <!--  Section Begin -->
    	<section>
    			<div class="container">
    				
    			</div>
    	</section>
    <!-- Section End -->
	
    <!-- Instagram Begin -->
<div th:replace="fragments/instagram :: instagram"></div>
<!-- Instagram End -->

<!-- Footer Section Begin -->
<div th:replace="fragments/footer :: footer"></div>
<!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
	<th:block th:replace="fragments/js-component :: js"></th:block>
    <!-- Js Plugins -->
    
</body>

</html>