<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng kí</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
       

    <!-- Main css -->
    <link rel="stylesheet" th:href="@{/css/signup.css}">
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form  th:if="${msg == null }" method="POST" id="rePass-form" class="signup-form" th:action="@{${'/reset-new-password?email='+email}}">
                        <h2 class="form-title">Vui lòng thiết lập mật khẩu mới</h2>
                         <div class="form-group">
                            <input type="text" class="form-input" name="pass"  id="password" placeholder="Password"/>
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="re_password" id="re_password"  placeholder="Repeat your password"/>
                            <label  class="text-danger" id="rePass-error-message"></label>
                        </div>
                                               
                        <div class="form-group">
                        	<label id="submit-message"></label>
                            <input type="button" name="submit-btn" id="submit-btn" class="form-submit" value="Thay đổi mật khẩu"/>
                        </div>
                    </form>
                    
                     <h1 th:if="${msg != null }" th:text="${msg}" ></h1>
                     <p class="loginhere" >
                       <a href="/login" class="loginhere-link">Đăng nhập lại tại đây</a>
                    </p>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/reset-pass.js"></script>
</body>
</html>