<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
	<header class="header" id="header" th:fragment="header">
        <div class="container-fluid" th:fragment="header">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="./"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="./">Home</a></li>
                            <li><a href="#">Women’s</a></li>
                            <li><a href="#">Men’s</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./product-details">Product Details</a></li>
                                    <li><a href="./cart">Shop Cart</a></li>
                                    <li><a href="./checkout">Checkout</a></li>
                                    <li><a href="./blog-details">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog">Blog</a></li>
                            <li><a href="./contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            <a sec:authorize="isAuthenticated() == false" href="http://localhost:8080/login">Login</a>
                            	
					
				        	
				        
				            
				        
				       					        
						        
                        </div>
                        <ul class="header__right__widget">
                        		
               
            				<li sec:authorize="isAuthenticated() == true"><span class="icon_profile"></span>
            					
            				</li>
            				<li sec:authorize="isAuthenticated() == true"><span class="fa fa-sign-out"></span>
            					
            				</li>
            				
                            <li><span class="icon_search search-switch"></span></li>
                            
                            <li><a href="/cart"><span class="icon_bag_alt"></span>
                                <div class="tip" id="cart-item-count" th:text="${session.CartDTO != null} ? ${session.CartDTO.counter}"></div>
                                <div class="tip" id="cart-item-count" sec:authorize="isAuthenticated() == true"></div>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
</div>
    </header>
    
</body>
</html>

