<!doctype html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Ashion</title>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">
    <link href="assets/css/phoenix.min.css" rel="stylesheet" id="style-default">
    <link href="assets/css/user.min.css" rel="stylesheet" id="user-style-default">
    <link href="css/add-product.css" rel="stylesheet">
    <style>
      body {
        opacity: 0;
      }
    </style>
  </head>

  <body>
    <main class="main" id="top">
      <divclass="container-fluid px-0" >
  
        <nav th:replace="fragments/navbar-left :: navbar-left"></nav>
        <nav th:replace="fragments/navbar-top :: navbar-top"></nav>
        <div class="content pt-5">
          <div class="pb-5">
            <div class="row g-5">
              <div class="col-12 col-xxl-6">
                <div class="mb-8">
                  <h2 class="mb-2">Thêm sản phẩm</h2>
                 
                </div>
                
                <hr class="bg-200 mb-6 mt-4">
                 <h4 th:text="${message != null}? ${message}" class="text-danger"></h4>
                <form id="add-product" class="form" th:object="${product}" th:method="POST" enctype="multipart/form-data" th:action="@{/add-product}">
                <div class="form-group">
				   <h4 class="text-danger">Chọn loại sản phẩm</h4>
				    <select name="caterogy" class="form-select" id="category" form="add-product" th:field="*{category}">
					  <option th:each="c : ${listCategory}" th:value="${c.id}" th:name="${c.id}" th:utext="${c.categoryName}"></option>
					</select>
			   
				  </div>
				  <div class="form-group" enctype="multipart/form-data">
				   
				    <input type="text" class="form-control" id="" oninvalid="this.setCustomValidity('Xin vui lòng không bỏ trống phần này')"
  							oninput="this.setCustomValidity('')" required   name="productName" th:field="*{productName}" placeholder="Tên sản phẩm">
			   
				  </div>
				  <div class="form-group">
				   
				    <input type="text" class="form-control" id="" oninvalid="this.setCustomValidity('Xin vui lòng không bỏ trống phần này')"
  							oninput="this.setCustomValidity('')" required th:field="*{description}" name="description" placeholder="Mô tả sản phẩm">
				  </div>
				  <div class="form-group row">
				    <label>Giá tiền:</label>
				    
				    <div class="sub-group-form">
							<div class="sub-item" >								
								<input type="number" style="" oninvalid="this.setCustomValidity('Xin vui lòng không bỏ trống phần này')"
  							oninput="this.setCustomValidity('')" required class="form-control" min"1" max="999"  th:field="*{price}"></input>
								
							</div>
							<div class="sub-item" >								
								
								<input type="text" style="width: 110px;" class="form-control" value="000 VNĐ" readOnly></input>
							</div>
							
							
					</div>
				  </div>
				  
				  
				  <div class="form-group" style="border: 1px solid black ; padding: 10px;">
				  		<h3  class="text-danger">Nhập số lượng theo size chữ</h3>
				  		<br>
						<div class="sub-group-form">
							<div class="sub-item" th:each="s, itemStat : *{sizes}">
								<label th:field="*{sizes[__${itemStat.index}__].sizeName}" th:text="${s.sizeName}" ></label>
								<input  oninvalid="this.setCustomValidity('Xin vui lòng không bỏ trống phần này')"
  							oninput="this.setCustomValidity('')" required type="number" th:field="*{sizes[__${itemStat.index}__].quantity}"  class="form-control size-text"></input>
								
							</div>
							  
							
						</div>
						
				</div>
				 <div class="form-group" style="border: 1px solid black ; padding: 10px;">
				  		<h3  class="text-danger">Nhập số lượng theo size giày</h3>
				  		<br>
						<div class="sub-group-form">
							<div class="sub-item" th:each="s, itemStat : *{sizesInNum}">
								<label th:field="*{sizesInNum[__${itemStat.index}__].sizeName}" th:text="${s.sizeName}" ></label>
								<input oninvalid="this.setCustomValidity('Xin vui lòng không bỏ trống phần này')"
  							oninput="this.setCustomValidity('')" required type="number" th:field="*{sizesInNum[__${itemStat.index}__].quantity}"  class="form-control size-num"></input>
								
							</div>
							  
							
						</div>
						
				</div>
				<div class="form-group" style="border: 1px solid black ; padding: 10px;">
				  		<h3 class="text-danger">Nhập số lượng theo phụ kiện</h3>
				  		<br>
						<div class="sub-group-form">
							<div class="sub-item" >
								
								<input oninvalid="this.setCustomValidity('Xin vui lòng không bỏ trống phần này')"
  							oninput="this.setCustomValidity('')" required type="number" th:field="*{freeSize}"  class="form-control free-size"></input>
								
							</div>
							  
							
						</div>
						
				</div>
				  
				  <div class="form-group">
				    <label>Chọn ảnh đại diện cho sản phẩm</label>
				    <input oninvalid="this.setCustomValidity('Xin vui lòng không bỏ trống phần này')"
  							oninput="this.setCustomValidity('')" required type="file" class="form-control" id="" accept=".jpg" name="thumnail" placeholder="Chọn ảnh đại diện" th:field="*{thumnail}">
				  </div>
				  <div class="form-group" id="image-group">
				   	<label>Chọn thêm ảnh chi tiết</label>
				    <input type="file" class="form-control" accept=".jpg" id="" name="images" th:field="*{images}">
				    <input type="file" class="form-control" accept=".jpg" id="" name="images" th:field="*{images}">
				    <input type="file" class="form-control" accept=".jpg" id="" name="images" th:field="*{images}">
				    <input type="file" class="form-control"accept=".jpg" id="" name="images" th:field="*{images}">
				  </div>
				  
				  <div class="form-group">
				  <label>Thêm chi tiết cho sản phẩm</label>
				  	<textarea oninvalid="this.setCustomValidity('Xin vui lòng không bỏ trống phần này')"
  							oninput="this.setCustomValidity('')" required name="detail" th:field="*{detail}">Thêm chi tiết sản phẩm</textarea>
				  </div>
				  <div class="form-group">
				  	<button type="submit" class="btn btn-primary">Lưu sản phẩm</button>
				  </div>
				</form>
                
              </div>
              
            </div>
          </div>
          
                 
                
              </div>
            </nav>
          
          
          
        </div>
      </div>
    </main>
    <script src="assets/js/phoenix.js"></script>
    <script src="assets/js/ecommerce-dashboard.js"></script>
    <script src="ckeditor/ckeditor.js"></script>
    <script src="js/add-product.js"></script>
    <script>
                        CKEDITOR.replace( 'detail' );
       </script>

  </body>

</html>