<!DOCTYPE html>
<html lang="zxx" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head> 
    <th:block th:replace="fragments/css-component :: meta"></th:block>
    <th:block th:replace="fragments/css-component :: google-font"></th:block>   
    <th:block th:replace="fragments/css-component :: css"></th:block>   
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                <div class="tip">2</div>
            </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                <div class="tip">2</div>
            </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header th:replace="fragments/header :: header"></header>
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Cart Section Begin -->
    <section th:if="${cartDTO != null}" class="shop-cart spad" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table">
                        <table >
                            <thead>
                                <tr>
                                	
                                    <th>Product</th>
                                    <th>Size</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="c : ${cartDTO.cartItemDTOs}">
                                	
                                    <td class="cart__product__item">
                                        <img style="width: 100px; height: 100px;" th:src="@{${'img/products/'+ c.imageName}}" alt="">
                                        <div class="cart__product__item__title">
                                            <h6 th:text="${c.productName}"></h6>
                                            
                                        </div>
                                    </td>
                                     <td class="cart__price" th:text="${c.sizeName}"></td>
                                    <td class="cart__price" th:text="${c.price}"></td>
                                    <td class="cart__quantity">
                                        <div class="pro-qty">
                                            <input min="1"  type="number" class="cart-quantity-input" th:value="${c.quantity}">
                                        </div>
                                    </td>
                                    <td class="cart__total" th:text="${c.total}"></td>
                                    <td class="cart__close"> <a th:href="@{${'/deleteProductFromCart?productId='+c.productId+'&sizeId='+c.sizeId}}"><span class="icon_close"></span></a> </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a href="#">Continue Shopping</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn update__btn">
                        <a href="#" onclick="return updateCart()"><span class="icon_loading"></span> Update cart</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    
                </div>
                <div class="col-lg-4 offset-lg-2">
                    <div class="cart__total__procced">
                        <h6>Cart total</h6>
                        <ul>
                            
                            <li>Total <span th:text="${cartDTO == null} ? 0  : ${cartDTO.cartTotal}" ></span></li>
                        </ul>
                        <a href="#" class="primary-btn">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Cart Section End -->
	<div class="container" style="height: 200px;" th:if="${message != null}">
		<h2 class="text-danger" th:text="${message}">Bạn chưa chọn sản phẩm nào!</h2>
	</div>
    <!-- Instagram Begin -->
<div th:replace="fragments/instagram :: instagram"></div>
<!-- Instagram End -->

<!-- Footer Section Begin -->
<div th:replace="fragments/footer :: footer"></div>
<!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <th:block th:replace="fragments/js-component :: js"></th:block>
    <script src="js/cart.js"></script>
</body>

</html>