<!doctype html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Ashion</title>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">
    <link href="assets/css/phoenix.min.css" rel="stylesheet" id="style-default">
    <link href="assets/css/user.min.css" rel="stylesheet" id="user-style-default">
    <link href="css/view-product.css" rel="stylesheet">
    <style>
      body {
        opacity: 0;
      }
    </style>
  </head>

  <body>
    <main class="main" id="top">
      <divclass="container-fluid px-0" >
  
        <nav th:replace="fragments/navbar-left :: navbar-left"></nav>
        <nav th:replace="fragments/navbar-top :: navbar-top"></nav>
        <div class="content pt-5">
          <div class="pb-5">
            <div class="row g-5">
              <div class="col-12 col-xxl-6">
                <div class="mb-8">
                  <h2 class="mb-2">Chi tiết sản phẩm</h2>
                  
                </div>
                
                <hr class="bg-200 mb-6 mt-4">
                <h4  class="text-danger" th:text="${messageUpdate != null} ? ${messageUpdate}"></h4>
                <form id="" class="form" th:method="POST" enctype="multipart/form-data" th:object="${productDTO}" th:action="@{${'/update-product?id='+id}}" >
                <div class="form-group row ">
				   	<div class="form-group-item">
				   		<label for="catetories">Loại sản phẩm</label>
				    	<input class="form-control" readonly th:value="${productDTO.category}" >
				   	</div>
					<div class="form-group-item">
						<label for="catetories">Thay đổi loại sản phẩm</label>
					
					<select name="caterogy" class="form-select" id="category"  th:field="*{category}">
						<option th:value="0" th:name="0">Chọn loại khác</option>
					  <option th:each="c : ${listCategory}" th:value="${c.id}"  th:utext="${c.categoryName}"></option>
					</select>
					</div>
				  </div>
				  
				  <div class="form-group row">
				  	<div class="form-group-item">
				  		<label>Tên sản phẩm</label>
				  		<input class="form-control"  th:field="*{productName}">
				  	</div>
				  	<div class="form-group-item">
				  		
				  	</div>
				  	
				  </div>
				  <div>
				  	<label>Mô tả</label>
				  	<input class="form-control" th:field="*{description}">
				  </div>
				  
				  <div class="form-group row">
				  	<div class="form-group-item">
				  		<label>Giá</label>
				  		<input class="form-control" th:field="*{price}">
				  	</div>
				  	<div class="form-group-item">
				  		
				  	</div>
				  	
				  </div>
				  
				  
				  <div class="form-group row">
				  		<label>Nhập số lượng theo size</label>
				  		<br>
						<div class="sub-group-form">
							<div class="sub-group-form">
							<div class="sub-item" th:each="s, itemStat : *{sizes}">
								<label th:field="*{sizes[__${itemStat.index}__].sizeName}" th:text="${s.sizeName}"></label>
								<input type="number" th:field="*{sizes[__${itemStat.index}__].quantity}"  class="form-control"></input>
							</div>
							
						</div>
						</div>
						
				</div>
				  <div class="form-group row">
				  	<div class="form-group-item">
				  		<label>Ảnh đại diện:  F5 nếu chưa thấy ảnh sau khi thay đổi</label>
				  		<br>
				  		<img style="width: 100px; height: 100px;" th:src="@{${'img/products/' + product.thumnail}}">
				  	</div>
				  	<div class="form-group-item">
				  		<label>Thay đổi ảnh đại diện</label>
				  		
				  		<input type="file" class="form-control" th:field="*{thumnail}">
				  	</div>
				  	
				  </div>
				  <label>Ảnh chi tiết</label>
				  <div class="form-group row" th:each="image : ${product.productImages}" >
				  	<div class="form-group-item" >
				  		<img style="width: 100px; height: 100px;" th:src="@{${'img/products/'+image.url}}">
				  	</div>
				  	
				  	<div class="form-group-item" >
				  		<label>Đổi ảnh</label>
				  		<input type="file" th:field="*{images}" class="form-control">
				  	</div>
				  	
				  	
				  	
				  </div>
				  
				 
				  <div class="form-group">
				  	<label>Thêm chi tiết cho sản phẩm</label>
				  	<textarea name="detail" th:field="*{detail}">Chi tiết sản phẩm</textarea>
				  </div>
				  	
				  </div>
				  
				  
				  
				  <div class="form-group">
				  	<button type="submit" class="btn btn-primary">Cập nhập sản phẩm</button>
				  </div>
				</form>
                
              </div>
              
            </div>
          </div>
          
                 
                
              </div>
            </nav>
          
          
          
        </div>
      </div>
    </main>
    <script src="assets/js/phoenix.js"></script>
    <script src="assets/js/ecommerce-dashboard.js"></script>
    <script src="ckeditor/ckeditor.js"></script>
    <script>
                        CKEDITOR.replace( 'detail' );
       </script>

  </body>

</html>